body {
    font-family: "Open Sans", sans-serif;
}

h1 {
    color: 000000
    font-family: "Open Sans";
}


h1, h2, h3 {
    font-family: "Lobster", cursive;
    color: #000000;
}

h2 {
    color: #000000;;
}

header h2 {
    color: #000000;
}

footer {
    color: #000000;
    padding: 20px 0;
}

.jumbotron {
    margin: 0;
    padding: 30px;
    background-color: #FFFFFF;

}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar {
    color: #000000;
    background-color: #3c528f
}

.site-footer{
    background-image: linear-gradient(#000000)
    padding: 20px 0;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel {
    border: solid #000000;
}

title {
    color: #000000;
}

body {
    background-color: #FFFFFF;
}

header {
    background-color: #000000;
}

